body {
  background-color: #232323;
}

h1, span {
  color: white;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%
}

.game-squares {
  margin: 0 auto;
  max-width: 600px;
  border-radius: 20%;
}

.game-controls p {


}

.level, .new-game {
  cursor: pointer;
}

.progress-text {
  cursor: default;
  margin: 10px 50px;
}

/* .level {
  margin: 10px 
} */

#game-header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
}
